@charset "utf-8";
/* CSS Document */

body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12px;
}
nav {
				height: 75px;
                background: #39F;
                color: white;
                text-align:left
            }
header {
                height: 35px;
				text-align:right;
				font-size: 1.5em;
				background: #39F;
            }			
#wrapper { 
 margin: 0 auto;
 width: 922px;
}
}
#faux {
 margin-bottom: 5px;
 overflow: auto; /* Paul O Brien Fix for IE www.pmob.co.uk */
 width: 100%
}
#kiri { 
display: inline;
 color: #333;
 margin: 10px;
 padding: 0px;
 width: 70px;
 float: left;
}
#kanan {
float: left;
 color: #333;
 margin: 10px 13px;
 padding: 0px;
 width: 700px;
 display: inline;
 position: relative;
}
footer{clear:both;
}

input {
    display: inline-block;
    vertical-align: center;
}
select,
input[type*=date],
input[type=text],
input[type=tel],
input[type=email],
input[type=url],
input[type=password],
input[type=file],
textarea {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    width: 225px;
	margin:10px 3px 10px 3px;
}

input[type=submit],
input[type=reset]{
	width:60px;
	height:25px;
	margin:0px 25px 0px 0px;
}
input[type=submit].inout{
	background-color:Black;
	border:double:#F00;
	border-radius: 5px;
	color:#FFF
}

input[type=submit]:hover,
input[type=reset]:hover {
    cursor: pointer;
}
a{ color:Black;
}

/*Menu*/
#menu
{
width: 450px;
margin-left: 100px;
padding: 5px 0 0 0;
list-style: none;
background: white;
border-radius: 5px;
}
#menu li
{
float: left;
padding: 0 0 10px 0;
position: relative;
line-height: 0;
}
#menu a
{
float: left;
height: 25px;
padding: 0 25px;
color: #F00;
-moz-border-radius: 50px;
border-radius: 50px;
text-transform: uppercase;
font: bold 12px/25px Arial, Helvetica;
text-decoration: none;
text-shadow: 0 1px 0 #000;
}
#menu li:hover > a
{
color: black;
}
*html #menu li a:hover /* IE6 */
{
color: #fafafa;
}
#menu li:hover > ul
{
display: block;
}
/* Sub-menu */
#menu ul
{
list-style: none;
margin: 0;
padding: 0;
display: none;
position: absolute;
top: 35px;
left: 0;
z-index: 99999;
background: #444;
background: -moz-linear-gradient(#444, #111);
background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
background: -webkit-linear-gradient(#444, #111);
background: -o-linear-gradient(#444, #111);
background: -ms-linear-gradient(#444, #111);
background: linear-gradient(#444, #111);
-moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
-webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
box-shadow: 0 0 2px rgba(255,255,255,.5);
-moz-border-radius: 5px;
border-radius: 2px;
}
#menu ul ul
{
top: 0;
left: 150px;
}
#menu ul li
{
float: none;
margin: 0;
padding: 0;
display: block;
-moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
-webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}
#menu ul li:last-child
{
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}
#menu ul a
{
padding: 10px;
height: 10px;
width: 130px;
height: auto;
line-height: 1;
display: block;
white-space: nowrap;
float: none;
text-transform: none;
}
*html #menu ul a /* IE6 */
{
height: 10px;
}
*:first-child+html #menu ul a /* IE7 */
{
height: 10px;
}
#menu ul a:hover
{
background: #0186ba;
background: -moz-linear-gradient(#04acec, #0186ba);
background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
background: -webkit-linear-gradient(#04acec, #0186ba);
background: -o-linear-gradient(#04acec, #0186ba);
background: -ms-linear-gradient(#04acec, #0186ba);
background: linear-gradient(#04acec, #0186ba);
}
#menu ul li:first-child > a:after
{
content: '';
position: absolute;
left: 30px;
top: -8px;
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-bottom: 8px solid #444;
}
/* Clear floated elements */
#menu:after
{
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html #menu { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */